*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,bisque, brown);
}
.header{
    height: 20%;
    width: 100%;
    /* background-color: rgba(165, 42, 42, 0.496); */
    /* color: white; */
    padding: 40px;
}

.box1{
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 80%;
    width: 80%;
    background-color: yellow;
    margin: 40px;
    transition: width 3s;
}

.box:hover{
    width: 40%;
}

/* p {
    font-style: italic;
} */

.header p:hover{
    cursor: pointer;
    font-style: italic;
}

div > h1{  
    color: burlywood; 
}

/* Adjacent Sibling selector */
 /* h1 + p{  
    color: palevioletred;
} */