*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/home.png);
    background-size: 100%;
}

ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

li{
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    margin-right: 60px;
}
.header li:nth-child(1){
    color: orange;
    border: 3px solid orange;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.header li:nth-child(2){
    color: white;
    background-color: orange;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;

}

.wrap{
    position: absolute;
    top: 35%;
    left: 58%;
}
.wrap h1{
    height: 120px;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
    background: linear-gradient(
        to right,
        rgb(81, 61, 41) 10%,
        rgb(255, 179, 37) 70%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
}
.wrap h3{
    font-weight: normal;
    padding-left: 20%;
    font-size: 25px;
    color: gray;
    margin-bottom: 50px;
}

.wrap h3::before{
    content: ' ';
    display: block;
    height: 2px;
    width: 100px;
    background: gray;
    position: relative;
    right: 110px;
    top: 13px;
}

.wrap h3::after{
    content: ' ';
    display: block;
    height: 2px;
    width: 100px;
    background: gray;
    position: relative;
    right: -240px;
    top: -17px;
}

.btns{
    display: flex;
    padding-left: 30px;
}

.loginBtn{
    height: 45px;
    width: 120px;
    background-color: orange;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    margin-right: 50px;
}

.registerBtn{
    height: 45px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    color: orange;
    border: 3px solid orange;
    margin-right: 50px;
}