*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    background: beige;
    
}

.header{
    height: 30%;
    width: 100%;
}

.header h1{
    font-style: bold;
    font-size: 40px;
}
#todo-form{
   
    display: flex;

}